{{ define "main" }}
<div class="flex-l mt2 mw8 center">
  <article class="center cf pv5 ph3 ph4-ns mw10">
    <header>
      <!-- <h1 class="f1">
          {{ .Title }} 
        </h1> -->
    </header>
    <div class="nested-copy-line-height lh-copy f4 nested-links {{ $.Param " text_color" | default "mid-gray" }}">
      {{ .Content }}
    </div>
  </article>
  <section class="center cf pv5 ph3 ph4-ns mw10">
    <h4>{{ T "explore_themes" }}</h4>
    <ul>
      {{ range where .Site.RegularPages "Section" "theme" }}
      <li>
        <a href="{{.Permalink}}">{{.Title}}</a>
      </li>
      {{ end }}
    </ul>
  </section>
</div>
{{ end }}