{{ define "main" }}
<div class="flex-l mt2 mw8 center">
  <article class="center cf pv1 ph3 ph4-ns mw10">
    <header>
      <!-- <h1 class="f1">
          {{ .Title }} 
        </h1> -->
    </header>
    <div class="nested-copy-line-height lh-copy f4 {{ $.Param " text_color" | default "mid-gray" }}">
      {{ .Content }}
    </div>
  </article>
</div>
<div class="flex-l mt2 mw8 center">
  <section class="cf pv1 ph3  mw10">
    <h2 id="themes" class="f1 center ph0">{{ T "explore_themes" }}</h2>
    <ul class="list pa0 plex">
    {{ range where .Site.RegularPages "Section" "theme" }}
      <li class="f2 pv2">
        <a href="{{ .RelPermalink }}" class="link dim black underline-hover">{{ .Title }}</a>
        <!-- {{ with resources.Get .Params.featured_image }}
          <img src="{{ .RelPermalink }}">
        {{ end }} -->
      </li>
    {{ end }}
    </ul>
  </section>
</div>
{{ end }}